@charset "UTF8";
#header_mo{display: none !important;}
.mo_block{display: none;}
.mo_none{display: block;}
.inline{display: inline;}
.flex_box{display: flex; justify-content: space-between; align-items: center;flex-wrap: wrap;}
.inner{width: 1280px; margin: 0 auto;}
img{display: inline-block; width: auto; vertical-align: middle;}
body{font-size: 16px; color: #333333; font-family: 'Noto Sans KR', sans-serif;}
#container{position: relative; width: 100%; overflow-x: hidden; min-height: 100vh;}
.transXY{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 1;}
.transX{position: absolute; left: 50%; transform: translateX(-50%);}
.transY{position: absolute; top: 50%; transform: translateY(-50%);}
.text_ec{overflow: hidden; text-overflow: ellipsis; word-wrap:break-word; white-space: nowrap;}
.ft_mt{font-family: 'Montserrat', sans-serif;}

table{width: 100%;}
.blind {position: absolute !important; top:auto;left:-10000px; width:1px; height:1px; overflow:hidden;}
.subject_box > *{font-size: 50px; font-family: 'Montserrat', sans-serif; margin-bottom: 50px;}

#pop_bg{background-color: rgba(0, 0, 0, 0.4); width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; z-index: 10; display: none;}
#pop_bg .bg_inner{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 1200px;}
#pop_bg .close_btn{color: #fff; font-size: 50px; cursor: pointer;}
#pop_bg iframe{max-width: 1200px; width: 100%; max-height: 600px; height: 100%;}

#header{top: 0; z-index: 2; width: 100%; background-color: #fff;position: fixed; top: 0; left: 0; width: 100%;}
#header .h_inner{width:calc(100% - 160px); margin: 0 auto; display: flex; justify-content: space-between; align-items: center; height: 90px; font-weight: 500;}
#header .h_inner .nav_outer .nav_list{display: inline-block; margin-left: 90px;}
#header .h_inner .nav_outer .nav_list:first-child{margin-left: 0px;}
#header .h_inner .lang_outer li{display: inline-block; margin-left: 10px;}
#header .sub_nav_outer{position: absolute; top: 90px;width: 100%; padding: 30px 0; background-color: #fff; border-top: 1px solid #ddd; display: none; font-size: 14px;}
#header .sub_nav_outer .sub_nav_box{width: 685px; margin: 0 auto;text-align: center; display: flex; justify-content: space-around;}
#header .sub_nav_outer ul{display: inline-block; vertical-align: top;padding: 0px 10px; text-align: center;}
#header .sub_nav_outer ul li{margin-bottom: 7px;}
#header .sub_nav_outer ul a{padding-bottom: 3px; transition: 1s all ease;}
#header .sub_nav_outer ul li:hover a{border-bottom: 1px solid #777;}

#section{margin-top: 90px;}
#main .main_slider .slide_inner{position: absolute; z-index: 3; top: 55%; width: 900px; color: #fff; left: 16.6667vw; transform: translateY(-50%);}
#main .main_slider .slide_inner .txt{margin: 10px 0 30px;}
#main .main_slider .slide_inner h3{font-size: 58px; font-weight: 400; letter-spacing: -1px;}
#main .main_slider .slide_inner p{font-size: 18px; font-weight: 300; letter-spacing: 0px;}
#main .main_slider .slide_inner a{font-size: 15px; font-weight: 300; padding: 8px 20px; display: inline-block; border: 1px solid #fff; letter-spacing: -1px;}
#main .main_slider .swiper-pagination{top: 30%; bottom: auto; text-align: left; width: 900px; color: #6e777b; left: 16.6667vw;}
#main .main_slider .swiper-pagination span{font-weight: 900;}
#main .main_slider .swiper-pagination span::before{content: "0";}
#main .main_slider .swiper-pagination-current{color: #b7bbbd;}
#main .main_slider .swiper-pagination-total{color: #6e777b;}

#main .news_slide_outer{max-height: 90px; padding: 25px 0; background-color: #3b3b3b; color: #fff;}
#main .news_slide_outer h3{font-size: 26px;}
#main .news_slide_outer .news_slider{max-height: 25px; margin-left: 15%; width: 70%;}
#main .news_slide_outer .news_slider .swiper-slide p{font-weight: 500; font-size: 20px; max-width: 600px; overflow: hidden; text-overflow: ellipsis; word-wrap:break-word; height: 25px; white-space: nowrap;}
#main .news_slide_outer .news_slider .swiper-slide > *{display: inline-block;}
#main .news_slide_outer .news_slider .swiper-slide a{float: right; vertical-align: middle; border-bottom: 2px solid #fff;}
#main .news_slide_outer .nav span{cursor: pointer; display: block;}

#main .latest_outer{padding: 130px 0; background: url('/img/latest_bg.png') no-repeat center; background-size: cover;}
#main .latest_slider{max-height: 410px;}
#main .latest_slider .swiper-slide{opacity: 0 !important; font-size: 0;}
#main .latest_slider .swiper-slide.swiper-slide-active{opacity: 1 !important;}
#main .latest_slider .swiper-slide .img_box{width: 810px; display: inline-block; vertical-align: top;}
#main .latest_slider .swiper-slide .img_box img{width: 100%;}
#main .latest_slider .swiper-slide .slide_inner{width: calc(100% - 830px); display: inline-block; vertical-align: top; font-size: 16px; margin-left: 20px;}
#main .latest_slider .swiper-slide .slide_inner > div{width: 73%; letter-spacing: -0.5px; word-break: keep-all;}
#main .latest_slider .swiper-slide .slide_inner h3{ color: #444444; font-weight: 400; font-size: 32px;}
#main .latest_slider .swiper-slide .slide_inner p{ color: #777777; font-weight: 300; font-size: 15px; line-height: 22px; margin: 10px 0 50px;}
#main .latest_slider .swiper-slide .slide_inner a{ color: #aaaaaa; font-weight: 600; font-size: 14px; line-height: 22px; margin: 10px 0 50px;}
#main .latest_slider .swiper-button-next{background-size: 13.5px 22px; right: auto; left: 865px; top: auto; bottom: 0;}
#main .latest_slider .swiper-button-prev{background-size: 13.5px 22px; right: auto; left: 825px; top: auto; bottom: 0;}
#main .latest_outer ul.flex_box{margin-top: 60px; align-items: flex-start;}
#main .latest_outer ul.flex_box li{width: 32%;}
#main .latest_outer ul.flex_box li img{width: 100%;}
#main .latest_outer ul.flex_box li p{overflow: hidden; text-overflow: ellipsis; word-wrap:break-word; white-space: nowrap; color: #777777;}

#main .video_sec{padding: 130px 0;}
#main .video_sec h3 a{float: right; font-size: 14px; color: #777; margin-top: 10px;}
#main .video_sec img{width: 100%; cursor: pointer;}
#main .video_sec p{color: #777777; margin-top: 10px;}
#main .video_sec .video_inner > div{align-self: flex-start;}
#main .video_sec .left{width: 810px;}
#main .video_sec .left p.subject{font-size: 20px; font-weight: 500; color: #333;}
#main .video_sec .right{width: calc(100% - 860px)}
#main .video_sec .right .img_box{ height: 180px; overflow: hidden;}
#main .video_sec .right .text_box{margin: 5px 0 35px;}

#sub .sub_top_bg{background-repeat: no-repeat; background-size: cover; width: 100%; height: 325px; position: relative;}
#sub .top_bg_news{background-image: url('/img/sub_top_bg01.png');}
#sub .top_bg_library{background-image: url('/img/sub_top_bg02.png');}
#sub .top_bg_project{background-image: url('/img/sub_top_bg03.png');}
#sub .top_bg_aboutUs{background-image: url('/img/sub_top_bg04.png');}
#sub .top_bg_search{background-image: url('/img/sub_top_bg01.png');}
#sub .sub_top_bg .text_box{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff;}
#sub .sub_top_bg .text_box h2{font-size: 38px; letter-spacing: -1px; font-weight: 400;}
#sub .sub_top_bg .text_box p{font-size: 16px; letter-spacing: -1px; font-weight: 300;}
#sub .sub_list ul{display: flex; justify-content: space-between; width: 100%; text-align: center;}
#sub .sub_list ul li.on{font-weight: 500; border-bottom: 2px solid #366bac; color: #366bac;}
#sub .sub_list ul > *{ padding: 15px 0;}
#sub .sub_list .list3 li{width: 32%; font-size: 20px; font-weight: 300;}
#sub .sub_list .list5 li{width: 19.5%;}
#sub .sub_page_title ul > *{display: inline-block; line-height: 20px; vertical-align: middle;}
#sub .sub_page_title ul span{margin: 0px 3px;}
#sub .sub_page_title li, #sub .sub_page_subject{text-transform: capitalize;}
#sub .sub_page_subject{font-size: 40px; font-weight: 500; margin-top: 10px;}

#sub .sub_page_title .list_style_tabs{float: right; font-weight: 500;}
#sub .sub_page_title .list_style_tabs a{display: inline-block; margin-left: 7px; color: #b7b7b7;}
#sub .sub_page_title .list_style_tabs a.on{color: #366bac;}
#sub .sub_page_title .list_style_tabs a i{padding-right: 3px;}
.color_gray{color: #999999;}
.color_blue{color: #366bac;}
#sub .sub_inner{margin-top: 100px;}
#sub table th, #sub table td{padding: 10px 0; text-align: center;}
#sub table th{border-top: 1px solid #333333; border-bottom: 1px solid #ddd;}
#sub table td{border-bottom: 1px solid #dddddd;}
#sub table .table_no{padding: 0 30px;}
#sub table .table_title{padding: 0 50px;}
#sub table td.table_title{padding: 0 50px; text-align: left;}
#sub .paging{margin: 50px 0;}
#sub .list_style{margin-top: 30px;}
#sub .list_style_02 li{padding: 40px 0; border-bottom: 1px solid #ddd; font-size: 0; display: flex; justify-content: space-between; align-items: center;}
#sub .list_style_02 li > div{display: inline-block; font-size: 16px; vertical-align: middle;}
#sub .list_style_02 li .left{width: 515px;}
#sub .list_style_02 li .left img{width: 100%;}
#sub .list_style_02 li .right{width: calc(100% - 560px);}
#sub .list_style_02 li .right h4{color: #555555; font-size: 26px; letter-spacing: -1px; margin-bottom: 5px;}
#sub .list_style_02 li .right span{color: #aaaaaa; font-size: 14px; letter-spacing: -1px;}
#sub .list_style_02 li .right p{color: #555555; font-size: 16px; letter-spacing: -1px; margin-top: 30px;}

#sub .list_style_03 ul{display: inline-flex; justify-content: flex-start; width: 100%;}
#sub .list_style_03 li{width: 32%; margin-bottom: 3%;margin-right: 2%;}
#sub .list_style_03 li img{width: 100%;}
#sub .list_style_03 li:nth-child(3){margin-right: 0;}
#sub .list_style_03 li .text_box{padding: 20px 20px 30px;border: 1px solid #ddd;}
#sub .list_style_03 li .text_box h4{font-size: 26px; line-height: 38px; letter-spacing: -1px; margin-bottom: 5px;}
#sub .list_style_03 li .text_box span{font-size: 14px; color: #aaaaaa;}

#sub .list_style_04{align-items: flex-start;}
#sub .list_style_04 .date_line{padding: 0 40px; margin-top: 40px;}
#sub .list_style_04 .date_line li{width: 145px; text-align: center; border: 2px solid #366bac; color: #366bac;padding: 5px 0; border-radius: 22px; margin-bottom: 207px;}
#sub .list_style_04 .bar_line{ width: 2px; background-color: #dddddd;}
#sub .list_style_04 .content_line{width: 985px; margin-left: 50px; margin-top: 23px;}
#sub .list_style_04 .content_line li::before{content: ""; width: 19px; height: 21px; display: block; position: absolute; top: 20px; left: -18px; background: url('/img/list_style_04_arrow.png') no-repeat center; background-size: contain;}
#sub .list_style_04 .content_line li::after{content: ""; width: 17px; height: 17px; display: block; position: absolute; top: 23px; left: -68px; background: url('/img/list_style_04_circle.png') no-repeat center; background-size: contain;}
#sub .list_style_04 .content_line li{padding: 25px 30px 40px; background-color: #f8f8f8;margin-bottom: 50px; position: relative;}
#sub .list_style_04 .content_line h4{font-size: 24px;}
#sub .list_style_04 .content_line span{font-size: 14px; display: inline-block; color: #aaaaaa; vertical-align: middle; width: 100%;}
#sub .list_style_04 .content_line p{font-size: 15px; line-height: 26px; margin-top: 20px;white-space: normal; overflow: hidden; text-overflow: ellipsis; height: 50px; line-clamp: 2; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; height: 52px; -webkit-box-orient: vertical; width: 100%; text-align: left; -moz-box-orient: vertical;}

#sub .view_box{margin-top: 30px;}
#sub .view_box .view_inner{padding: 0 40px;}
#sub .view_box .view_title_box{border: 1px solid #ddd; border-right: 0; border-left: 0;}
#sub .view_box .view_title_box h3{font-size: 30px; margin-top: 20px;}
#sub .view_box .view_title_box p{font-size: 14px; color: #666666; margin-bottom: 15px; margin-top: 10px; font-weight: 300;}
#sub .view_box .view_title_box .link_box{background-color: #f8f8f8; padding: 0;}
#sub .view_box .view_title_box .link_box > *{display: inline-block;}
#sub .view_box .view_title_box h3{font-size: 30px;}

#sub .view_box .view_body_box{padding: 40px;}
#sub .view_box .paging_board li{padding: 10px 40px; border-top: 1px solid #ddd; color: #666666;}
#sub .view_box .paging_board li.file_items{color: #366BAC; font-weight: 500;}
#sub .view_box .paging_board li:last-child{border-bottom: 1px solid #ddd;}
#sub .view_box .paging_board li > *{display: inline-block; vertical-align: middle;}
#sub .view_box .paging_board li.file_items a{max-width: 90%;}
#sub .view_box .paging_board li img{margin-right: 10px;}
#sub .view_box .paging_board li p{margin-right: 20px;}
#sub .view_box .go_back_btn{margin: 100px 0; text-align: center;}
#sub .view_box .go_back_btn a{padding: 15px 80px; color: #fff; background-color: #366bac; font-size: 20px;}

#sub .content_wrap{margin: 30px auto;}

#sub .content_wrap.project img{width: 100%;}
#sub .content_wrap.project .bus_info li p{display: inline-block; font-size: 16px;}
#sub .content_wrap.project .bus_info li p.mo_block{display: none;}
#sub .content_wrap.project .bus_info li p.subject{font-size: 18px;padding: 25px 60px; color: #fff; background-color: #366bac; font-weight: bold;}
#sub .content_wrap.project .bus_info li p b{font-weight: 600;}
#sub .content_wrap.project .bus_info li p:last-child{padding-left: 25px; font-weight: 300;}
#sub .content_wrap.project .bus_info li:last-child{border-bottom: 1px solid #ddd;}
#sub .content_wrap.project .text-right{text-align: right; font-size: 14px; font-weight: 300;margin: 5px 0 30px;}

#sub .content_wrap.project_sub .sec_top{padding-bottom: 100px; border-bottom: 1px solid #ddd; margin-bottom: 100px;}
#sub .content_wrap.project_sub .sec_top .text_box{width: 46%;}
#sub .content_wrap.project_sub .sec_top .text_box .top_line > *{display: inline-block; vertical-align: middle;}
#sub .content_wrap.project_sub .sec_top .text_box .top_line .bar{width: 70px; height: 1px; background-color: #000; position: relative; top: 2px; margin: 0px 5px;}
#sub .content_wrap.project_sub .sec_top .text_box h2{font-size: 52px; line-height: 70px; margin: 20px 0;}
#sub .content_wrap.project_sub .sec_top .text_box > p{padding-left: 15px; position: relative; margin-top: 15px; font-size: 18px; letter-spacing: -0.5px; line-height: 30px;}
#sub .content_wrap.project_sub .sec_top .text_box > p::before{position: absolute; top: 0; left: 0; content: "·"; color: #366bac;}
#sub .content_wrap.project_sub .sec_bot .tabs{width: 430px; margin: 0 auto;}
#sub .content_wrap.project_sub .sec_bot .tabs .bar{width: 320px; height: 2px; background-color: #e8e8e8; margin: 0 auto;}
#sub .content_wrap.project_sub .sec_bot .tabs .tab_list li{padding-top: 35px; background: url('/img/project_circle.png') no-repeat top center; position: relative; top: -10px; cursor: pointer; font-weight: bold; color: #aaaaaa; font-size: 22px;}
#sub .content_wrap.project_sub .sec_bot .tabs .tab_list li.on{background: url('/img/project_circle_on.png') no-repeat top center; color: #366bac;}
#sub .content_wrap.project_sub .tabs_child .tabs_info{margin-top: 120px;}
#sub .content_wrap.project_sub .tabs_child .tabs_info h3{font-size: 42px; text-align: center; font-weight: 400; width: 100%; margin-bottom: 50px;}
#sub .content_wrap.project_sub .tabs_child .tabs_info .text_box{width: 810px;}
#sub .content_wrap.project_sub .tabs_child .tabs_info .text_box p{line-height: 32px; color: #555555; letter-spacing: -0.5px;}
#sub .content_wrap.project_sub .tabs_child .tabs_info .line_blue{background-color: #f1f5f9; color: #366bac; font-weight: bold; margin-top: 10px; padding: 15px 20px;}
#sub .content_wrap.project_sub .logo_info{margin-top: 100px;}
#sub .content_wrap.project_sub .logo_info .logo_box h4{font-size: 22px; color: #111; padding: 5px 25px; border-bottom: 2px solid #ddd; margin-top: 20px;}
#sub .content_wrap.project_sub .logo_info .logo_box ul{justify-content: flex-start;}
#sub .content_wrap.project_sub .logo_info .logo_box li{margin-top: 10px; margin-right: 10px;}
#sub .content_wrap.project_sub .logo_info .logo_box li:nth-of-type(6n){margin-right: 0;}

#sub .content_wrap.organization li{text-align: center; position: relative;}
#sub .content_wrap.organization .sec_top{font-size: 0;}
#sub .content_wrap.organization .sec_top > div{display: inline-block; vertical-align: top; font-size: 16px;}
#sub .content_wrap.organization .sec_top .type_01{margin-right: 85px;}
#sub .content_wrap.organization .sec_top .type_01 li{border: 2px solid #c55a11; width: 360px; padding: 10px; margin-bottom: 10px;}
#sub .content_wrap.organization .sec_top .type_01 li.bg_orange{background-color: #c55a11; color: #fff; font-size: 20px;}
#sub .content_wrap.organization .sec_top .type_02{margin-right: 15px;}
#sub .content_wrap.organization .sec_top .type_02 li{width: 380px; padding: 10px; border: 2px solid #7f6000;}
#sub .content_wrap.organization .sec_top .type_02 li{width: 380px; padding: 10px; border: 2px solid #7f6000;}
#sub .content_wrap.organization .sec_top .type_02 li:last-child{background-color: #7f6000; color: #fff; font-size: 20px;}

.bg_blue{background-color: #366bac; color: #fff;}
.bg_blue > p{font-weight: bold;}
#sub .content_wrap.organization li, #sub .content_wrap.organization div{position: relative;}
#sub .content_wrap.organization p{z-index: 10;}
#sub .content_wrap.organization .sec_mid{margin: 50px 0 110px;}
#sub .content_wrap.organization .sec_mid .org_top{text-align: center; color: #fff; font-weight: bold; font-size: 24px; width: 450px; padding: 10px; margin: 0 auto; margin-bottom: 65px;}
#sub .content_wrap.organization .sec_mid .middle_box{text-align: center;}
#sub .content_wrap.organization .sec_mid .org_mid{width: 250px; display: inline-block; padding: 15px 0; font-size: 20px;vertical-align: top;}
#sub .content_wrap.organization .sec_mid .org_mid:nth-child(2){margin-left: 185px; margin-right: 185px;}
#sub .content_wrap.organization .sec_mid .bottom_box{color: #366bac; font-weight: bold; font-size: 0;}
#sub .content_wrap.organization .sec_mid .org_bot_box{display: inline-block; margin-top: 55px;}
#sub .content_wrap.organization .sec_mid .org_bot_box:nth-child(2){margin-right: 105px; margin-left: 105px;}
#sub .content_wrap.organization .sec_mid .org_bot{padding: 20px 0; display: inline-block; border: 2px solid #366bac; width: 130px; text-align: center;font-size: 16px; margin-right: 4px;}
#sub .content_wrap.organization .sec_bot .bot_all_box{align-items: flex-start;}
#sub .content_wrap.organization .sec_bot .bot_all_box ul{width: 20%;}
#sub .content_wrap.organization .sec_bot .bot_all_box ul li:nth-child(2) .line_num{margin-top: 20px; max-height: 130px;}
#sub .content_wrap.organization .sec_bot .bot_all_box p{padding: 10px 0; font-size: 16px; font-weight: 400; color: #555555;}
#sub .content_wrap.organization .sec_bot .bot_all_box p.subject{padding: 15px 0; font-size: 20px; font-weight: bold; color: #fff;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .top_area p{background-color: #fff; border: 2px solid #77b4ff;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .top_area p{background-color: #fff; border: 2px solid #f8b034;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .top_area p{background-color: #fff; border: 2px solid #77b655;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .top_area p{background-color: #fff; border: 2px solid #986fbf;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .top_area p.subject{background-color: #77b4ff; border: 2px solid #77b4ff;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .top_area p.subject{background-color: #f8b034; border: 2px solid #f8b034;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .top_area p.subject{background-color: #77b655; border: 2px solid #77b655;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .top_area p.subject{background-color: #986fbf; border: 2px solid #986fbf;}
#sub .content_wrap.organization .sec_bot .bot_all_box .line_num{margin-top: 60px; padding: 15px 0;}
#sub .content_wrap.organization .sec_bot .bot_all_box .show_item{border: 2px solid #bbbbbb; border-top: 0; padding: 15px 0; color: #366bac; font-size: 18px; font-weight: 500; cursor: pointer;}
#sub .content_wrap.organization .sec_bot .bot_all_box .show_item span{font-weight: 500; font-size: 14px; display: block; color: #555;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .line_num{border: 2px solid #77b4ff; padding: 15px 0;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .line_num{border: 2px solid #f8b034;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .line_num{border: 2px solid #77b655;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .line_num{border: 2px solid #986fbf;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .line_num h3{color: #77b4ff;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .line_num h3{color: #f8b034;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .line_num h3{color: #77b655;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .line_num h3{color: #986fbf;}

#sub .content_wrap.organization .sec_bot .bot_all_box .items{border-right: 2px solid #bbb; border-left: 2px solid #bbb; padding: 10px; background-color: #f3f3f3; display: none;}
#sub .content_wrap.organization .sec_bot .bot_all_box .items:last-child{border-bottom: 2px solid #bbb;}
#sub .content_wrap.organization .sec_bot .bot_all_box .items .items_inner{border-bottom: 1px solid #ddd; padding-bottom: 10px;}
#sub .content_wrap.organization .sec_bot .bot_all_box .items:last-child .items_inner{border-bottom: 0;}
#sub .content_wrap.organization .sec_bot .bot_all_box .items .items_inner > *{display: inline-block; vertical-align: middle;}
#sub .content_wrap.organization .sec_bot .bot_all_box .items p{border: 2px solid #ccc; border-radius: 20px; font-size: 14px; line-height: 16px; padding: 3px 3px;}
#sub .content_wrap.organization .sec_bot .bot_all_box .items img{width: 80%; margin-left: 10px;}

/*조직도 라인작업*/
#sub .content_wrap.organization .sec_mid .bar{background-color: #366bac; position: absolute; top: 0; left: 0;}
#sub .content_wrap.organization .sec_mid .org_top::after{content: ""; display: block; width: 879px; height: 2px; background-color: #366bac; position: absolute; bottom: -35px; left: -47.5%;}
#sub .content_wrap.organization .sec_mid .org_mid::before{content: ""; display: block; width: 2px; height: 30px; background-color: #366bac; display: block; top: -30px; position: absolute; left: 50%;}
#sub .content_wrap.organization .sec_mid .org_mid:nth-child(2)::before{height: 65px; top: -65px;}
#sub .content_wrap.organization .sec_mid .org_mid::after{content: ""; display: block; width: 2px; height: 58px; background-color: #366bac; display: block; bottom: -57px; position: absolute; left: 50%;}
#sub .content_wrap.organization .sec_mid .org_mid:nth-child(2)::after{height: 30px; bottom: -30px;}
#sub .content_wrap.organization .sec_mid .org_bot::before{content: ""; display: block; width: 2px; height: 29px; background-color: #366bac; display: block; top: -29px; position: absolute; left: 50%;}
#sub .content_wrap.organization .sec_mid .org_bot:nth-child(2)::before{display: none;}
#sub .content_wrap.organization .sec_mid .org_bot_box:nth-child(2) .org_bot:nth-child(2)::before{display: block;}
#sub .content_wrap.organization .sec_mid .org_bot:first-child::after{content: ""; display: block; width: 270px; height: 2px; background-color: #366bac; display: block; top: -29px; position: absolute; left: 50%;}
#sub .content_wrap.organization .sec_mid .org_bot_box:nth-child(2) .org_bot:first-child::after{width: 135px;}

#sub .content_wrap.organization .sec_bot::before{display: block; content: ""; background-color: #366bac; width: 1022px; height: 2px; margin: 0 auto; position: relative; top: -40px;}
#sub .content_wrap.organization .sec_bot .bot_all_box ul{position: relative;}
#sub .content_wrap.organization .sec_bot .bot_all_box ul::before{ display: block; content: ""; width: 2px; height: 42px; background-color: #366bac; position: absolute; left: 50%; top: -42px;}
#sub .content_wrap.organization .sec_bot .bot_all_box .line_num::before{content: ""; display: block; width: 2px; height: 60px; background-color: #77b4ff; position: absolute; top: -62px; left: 50%;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .line_num::before{background-color: #f8b034;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .line_num::before{background-color: #77b655;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .line_num::before{background-color: #986fbf;}
#sub .content_wrap.organization .sec_bot .bot_all_box ul li:nth-child(2) .line_num::before{height: 20px; top: -22px;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .bar{background-color: #77b4ff;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .bar{background-color: #f8b034;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .bar{background-color: #77b655;}
#sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .bar{background-color: #986fbf;}

#sub .search .top_{text-align: center; padding: 45px 0; background-color: #f6f6f6; border-bottom: 2px solid #366bac;}
#sub .search .top_ h2{font-size: 26px;}
#sub .search .top_ h2 span{font-size: 32px; color: #3a6ab4;}
#sub .search .search_box{border-bottom: 3px solid #000; width: 760px; margin: 0 auto;}
#sub .search .search_box form{width: 100%; display: flex; justify-content: space-around; align-items: center; padding: 10px 0;}
#sub .search .search_box select{border: 0; background-color: transparent;}
#sub .search .search_box input{border: 0; background-color: transparent; width: 70%;}
#sub .search .search_box button{border: 0; background-color: transparent;}
#sub .search .search_result_box .box{margin: 40px 0;}
#sub .search .search_result_box .box h3{font-size: 22px; color: #366bac; font-weight: 400; padding-bottom: 10px; border-bottom: 1px solid #ddd;}
#sub .search .search_result_box .box h3 span{font-size: 16px; color: #898989; font-weight: bold;}
#sub .search .search_result_box .box li{padding: 40px 0; border-bottom: 1px solid #ddd; font-weight: 300; font-size: 12px; color: #aaaaaa; display: flex; justify-content: space-between; align-items: center;}
#sub .search .search_result_box .box li h4{font-weight: 400; font-size: 18px; color: #666666;}
#sub .search .search_result_box .box li a{width: 70%;}
#sub .search .search_result_box .box li .img_box{width: 20%;}
#sub .search .search_result_box .box li .img_box img{width: 100%;}

#footer{font-size: 14px;}
#footer .page_search_outer{background-color: #f7f7f7; padding: 35px 0; border-bottom: 2px solid #dddddd;}
#footer .page_search_outer .search_box{border-bottom: 3px solid #000; width: 760px; margin: 0 auto;}
#footer .page_search_outer .search_box form{width: 100%; display: flex; justify-content: space-around; align-items: center; padding: 10px 0;}
#footer .page_search_outer .search_box select{border: 0; background-color: transparent;}
#footer .page_search_outer .search_box input{border: 0; background-color: transparent; width: 70%;}
#footer .page_search_outer .search_box button{border: 0; background-color: transparent;}
#footer .f_logo_outer{padding: 30px 0;}
#footer .f_logo_outer .logo_box{margin-right: 50px; display: inline-block;}
#footer .f_logo_outer .logo_box > *{display: inline-block; vertical-align: middle;}
#footer .terms_outer{padding: 10px 0; background-color: #555555; color: #d4d4d4;}
#footer .terms_outer a{display: inline-block; vertical-align: middle; margin-right: 10px;}
#footer .f_info_outer{padding: 30px 0;}
#footer .f_info_outer p{color: #666666; line-height: 28px;}

/*paging*/
.paging{text-align: center; background-color: #fff;}
.paging button{text-align: center; display: inline-block; background-color: #fff; border: 0; width: 28px; height: 28px; line-height: 20px; margin: 0px 5px; font-size: 15px;}
.paging button.btn-primary{font-weight: bold; color: #366BAC;}
.paging button img{height: 50%;}

@media screen and (max-width: 1400px){
    p{word-wrap: break-word;}
    #header .h_inner{width: calc(100% - 80px);}
    #header .h_inner .nav_outer .nav_list{margin-left: 20px;}
    #header .sub_nav_outer .sub_nav_box{width: 25.9286vw;}
    .inner{width: 91.4286vw; margin: 0 auto;}
    #main .news_slide_outer .news_slider{width: 50vw;}
    #main .main_slider .slide_inner{width: 64.2857vw;}
    #main .main_slider .slide_inner h3{font-size: 40px;}
    #main .latest_slider .swiper-slide .img_box{width: 57.8571vw;}
    #main .latest_slider .swiper-button-next{left: 61.7857vw;}
    #main .latest_slider .swiper-button-prev{left: 58.9286vw;}
    #main .latest_slider .swiper-slide .slide_inner{width: calc(100% - 59.2857vw); display: inline-block; vertical-align: top; font-size: 1.1429vw; margin-left: 1.4286vw;}
    #main .video_sec .left{width: 57.8571vw;}
    #main .video_sec .right{width: calc(100% - 61.4286vw)}
    #main .video_sec .right .img_box{ height: 12.8571vw; overflow: hidden;}
    #main .video_sec .right .text_box{margin: 0.3571vw 0 2.5000vw;}
    #sub .list_style_04{align-items: flex-start;}
    #sub .list_style_04 .date_line{padding: 0 2.8571vw; margin-top: 3.8571vw;}
    #sub .list_style_04 .date_line li{width: 10.3571vw; text-align: center; border: 2px solid #366bac; color: #366bac;padding: 0.3571vw 0; border-radius: 20px; margin-bottom: 20vw;}
    #sub .list_style_04 .bar_line{ width: 2px; background-color: #dddddd;}
    #sub .list_style_04 .content_line{width: 70.3571vw; margin-left: 3.5714vw;}
    #sub .list_style_04 .content_line li::before{content: ""; width: 1.3571vw; display: block; position: absolute; left: -1.2857vw; background: url('/img/list_style_04_arrow.png') no-repeat center; background-size: contain;}
    #sub .list_style_04 .content_line li::after{content: ""; width: 1.2143vw; display: block; position: absolute; left: -4.8571vw; background: url('/img/list_style_04_circle.png') no-repeat center; background-size: contain;}
    #sub .list_style_04 .content_line li{background-color: #f8f8f8; position: relative;}
    #sub .list_style_04 .content_line span{font-size: 1.0000vw; display: inline-block; color: #aaaaaa; vertical-align: middle; width: 100%;}
    #sub .list_style_04 .content_line p{margin-top: 1.4286vw;white-space: normal; overflow: hidden; text-overflow: ellipsis; line-clamp: 2; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; height: 3.7143vw; -webkit-box-orient: vertical; width: 100%; text-align: left; -moz-box-orient: vertical;}
    #sub .content_wrap.project_sub .sec_top .img_box{width: 50%;}
    #sub .content_wrap.project_sub .sec_top .img_box img{width: 100%;}
    #sub .content_wrap.project_sub .sec_top .text_box h2{font-size: 40px; line-height: normal;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info .text_box{width: 55.8571vw;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info .img_box{width: 30%;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info .img_box img{width: 100%;}
    #sub .content_wrap.organization li{text-align: center; position: relative;}
    #sub .content_wrap.organization .sec_top{font-size: 0;}
    #sub .content_wrap.organization .sec_top > div{display: inline-block; vertical-align: top; font-size: 1.1429vw;}
    #sub .content_wrap.organization .sec_top .type_01{margin-right: 6.0714vw;}
    #sub .content_wrap.organization .sec_top .type_01 li{border: 0.1429vw solid #c55a11; width: 25.7143vw; padding: 0.7143vw; margin-bottom: 0.7143vw;}
    #sub .content_wrap.organization .sec_top .type_01 li.bg_orange{background-color: #c55a11; color: #fff; font-size: 1.4286vw;}
    #sub .content_wrap.organization .sec_top .type_02{margin-right: 1.0714vw;}
    #sub .content_wrap.organization .sec_top .type_02 li{width: 27.1429vw; padding: 0.7143vw; border: 0.1429vw solid #7f6000;}
    #sub .content_wrap.organization .sec_top .type_02 li{width: 27.1429vw; padding: 0.7143vw; border: 0.1429vw solid #7f6000;}
    #sub .content_wrap.organization .sec_top .type_02 li:last-child{background-color: #7f6000; color: #fff; font-size: 1.4286vw;}
    
    .bg_blue{background-color: #366bac; color: #fff;}
    .bg_blue > p{font-weight: bold;}
    #sub .content_wrap.organization li, #sub .content_wrap.organization div{position: relative;}
    #sub .content_wrap.organization p{z-index: 10;}
    #sub .content_wrap.organization .sec_mid{margin: 3.5714vw 0 7.8571vw;}
    #sub .content_wrap.organization .sec_mid .org_top{text-align: center; color: #fff; font-weight: bold; font-size: 1.7143vw; width: 32.1429vw; padding: 0.7143vw; margin: 0 auto; margin-bottom: 4.6429vw;}
    #sub .content_wrap.organization .sec_mid .middle_box{text-align: center;}
    #sub .content_wrap.organization .sec_mid .org_mid{width: 17.8571vw; display: inline-block; padding: 1.0714vw 0; font-size: 1.4286vw;vertical-align: top;}
    #sub .content_wrap.organization .sec_mid .org_mid:nth-child(2){margin-left: 13.2143vw; margin-right: 13.2143vw;}
    #sub .content_wrap.organization .sec_mid .bottom_box{color: #366bac; font-weight: bold; font-size: 0;}
    #sub .content_wrap.organization .sec_mid .org_bot_box{display: inline-block; margin-top: 3.9286vw;}
    #sub .content_wrap.organization .sec_mid .org_bot_box:nth-child(2){margin-right: 7.5000vw; margin-left: 7.5000vw;}
    #sub .content_wrap.organization .sec_mid .org_bot{padding: 1.4286vw 0; display: inline-block; border: 0.1429vw solid #366bac; width: 9.2857vw; text-align: center;font-size: 1.1429vw; margin-right: 0.2857vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box{align-items: flex-start;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul{width: 20%;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul li:nth-child(2) .line_num{margin-top: 1.4286vw; max-height: 9.2857vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box p{padding: 0.7143vw 0; font-size: 1.1429vw; font-weight: 400; color: #555555;}
    #sub .content_wrap.organization .sec_bot .bot_all_box p.subject{padding: 1.0714vw 0; font-size: 1.4286vw; font-weight: bold; color: #fff;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .top_area p{background-color: #fff; border: 0.1429vw solid #77b4ff;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .top_area p{background-color: #fff; border: 0.1429vw solid #f8b034;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .top_area p{background-color: #fff; border: 0.1429vw solid #77b655;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .top_area p{background-color: #fff; border: 0.1429vw solid #986fbf;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .top_area p.subject{background-color: #77b4ff; border: 0.1429vw solid #77b4ff;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .top_area p.subject{background-color: #f8b034; border: 0.1429vw solid #f8b034;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .top_area p.subject{background-color: #77b655; border: 0.1429vw solid #77b655;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .top_area p.subject{background-color: #986fbf; border: 0.1429vw solid #986fbf;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .line_num{margin-top: 4.2857vw; padding: 1.0714vw 0;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .show_item{border: 0.1429vw solid #bbbbbb; border-top: 0; padding: 1.0714vw 0; color: #366bac; font-size: 1.2857vw; font-weight: 500; cursor: pointer;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .show_item span{font-weight: 500; font-size: 1.0000vw; display: block; color: #555;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .line_num{border: 0.1429vw solid #77b4ff; padding: 1.0714vw 0;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .line_num{border: 0.1429vw solid #f8b034;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .line_num{border: 0.1429vw solid #77b655;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .line_num{border: 0.1429vw solid #986fbf;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .line_num h3{color: #77b4ff;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .line_num h3{color: #f8b034;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .line_num h3{color: #77b655;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .line_num h3{color: #986fbf;}
    
    #sub .content_wrap.organization .sec_bot .bot_all_box .items{border-right: 0.1429vw solid #bbb; border-left: 0.1429vw solid #bbb; padding: 0.7143vw; background-color: #f3f3f3; display: none;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .items:last-child{border-bottom: 0.1429vw solid #bbb;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .items .items_inner{border-bottom: 0.0714vw solid #ddd; padding-bottom: 0.7143vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .items:last-child .items_inner{border-bottom: 0;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .items .items_inner > *{display: inline-block; vertical-align: middle;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .items p{border: 0.1429vw solid #ccc; border-radius: 1.4286vw; font-size: 1.0000vw; line-height: 1.1429vw; padding: 0.2143vw 0.2143vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .items img{width: 80%; margin-left: 0.7143vw;}
    
    /*조직도 라인작업*/
    #sub .content_wrap.organization .sec_mid .bar{background-color: #366bac; position: absolute; top: 0; left: 0;}
    #sub .content_wrap.organization .sec_mid .org_top::after{content: ""; display: block; width: 62.7857vw; height: 0.1429vw; background-color: #366bac; position: absolute; bottom: -2.5000vw; left: -47.5%;}
    #sub .content_wrap.organization .sec_mid .org_mid::before{content: ""; display: block; width: 0.1429vw; height: 2.1429vw; background-color: #366bac; display: block; top: -2.1429vw; position: absolute; left: 50%;}
    #sub .content_wrap.organization .sec_mid .org_mid:nth-child(2)::before{height: 4.6429vw; top: -4.6429vw;}
    #sub .content_wrap.organization .sec_mid .org_mid::after{content: ""; display: block; width: 0.1429vw; height: 4.1429vw; background-color: #366bac; display: block; bottom: -4.0714vw; position: absolute; left: 50%;}
    #sub .content_wrap.organization .sec_mid .org_mid:nth-child(2)::after{height: 2.1429vw; bottom: -2.1429vw;}
    #sub .content_wrap.organization .sec_mid .org_bot::before{content: ""; display: block; width: 0.1429vw; height: 2.0714vw; background-color: #366bac; display: block; top: -2.0714vw; position: absolute; left: 50%;}
    #sub .content_wrap.organization .sec_mid .org_bot:nth-child(2)::before{display: none;}
    #sub .content_wrap.organization .sec_mid .org_bot_box:nth-child(2) .org_bot:nth-child(2)::before{display: block;}
    #sub .content_wrap.organization .sec_mid .org_bot:first-child::after{content: ""; display: block; width: 19.2857vw; height: 0.1429vw; background-color: #366bac; display: block; top: -2.0714vw; position: absolute; left: 50%;}
    #sub .content_wrap.organization .sec_mid .org_bot_box:nth-child(2) .org_bot:first-child::after{width: 9.6429vw;}
    
    #sub .content_wrap.organization .sec_bot::before{display: block; content: ""; background-color: #366bac; width: 73.0000vw; height: 0.1429vw; margin: 0 auto; position: relative; top: -2.8571vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul{position: relative;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul::before{ display: block; content: ""; width: 0.1429vw; height: 3.0000vw; background-color: #366bac; position: absolute; left: 50%; top: -3.0000vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .line_num::before{content: ""; display: block; width: 0.1429vw; height: 4.2857vw; background-color: #77b4ff; position: absolute; top: -4.4286vw; left: 50%;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .line_num::before{background-color: #f8b034;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .line_num::before{background-color: #77b655;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .line_num::before{background-color: #986fbf;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul li:nth-child(2) .line_num::before{height: 1.4286vw; top: -1.5714vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_blue .bar{background-color: #77b4ff;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_orange .bar{background-color: #f8b034;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_green .bar{background-color: #77b655;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .bg_sky_purple .bar{background-color: #986fbf;}    
}
@media screen and (max-width: 1300px){
    #header{display: none !important;}
    #header_mo{position: fixed; top: 0; left: 0; width: 100%; background-color: #fff; z-index: 10; display: block !important;}
    #header_mo .inner{display: flex; justify-content: space-between; text-align: center; align-items: center; height: 90px;}
    #header_mo img{width: 50%; display: inline-block}
    #header_mo .lang_select ul{width: 50px; position: relative;}
    #header_mo .lang_select li{display: inline-block;}
    #header_mo .lang_select li:last-child{display: none; position: absolute; background-color: #fff; top: 20px; left: 7px;}
    #header_mo .lang_select li img{width: 22%;}

    #sub .content_wrap.project .bus_info li p.subject{font-size: 15px; padding: 15px 40px;}
    #sub .content_wrap.project .bus_info li p{font-size: 13px;}
    #sub .content_wrap.project .text-right{font-size: 12px;}
    
}

@media screen and (max-width: 1150px){
    #sub .content_wrap.project_sub .tabs_child .tabs_info .text_box{width: 100%;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info .img_box{width: 100%; margin-top: 20px;}
    .m_sub_nav{position: fixed; top: 90px; width: 100%; background-color: #fff; z-index: 20; max-height: calc(100vh - 90px); overflow-y: scroll; display: none;}
    .m_sub_nav > div{padding: 10px 25px;}
    .m_sub_nav .contact_area{background-color: #333; color: #fff;}
    .m_sub_nav .contact_area a{display: flex; justify-content: space-between; align-items: center;}
    .m_sub_nav .contact_area .img_box{width: 16px; vertical-align: middle;}
    .m_sub_nav .contact_area img{width: 100%;}
    .m_sub_nav .list_item ul{border-bottom: 1px solid #ddd; padding-bottom: 20px;}
    .m_sub_nav .list_item:last-child ul{border-bottom: 0;}
    .m_sub_nav .list_item li{margin-top: 15px; color: #aaa; font-size: 16px;}
    .m_sub_nav .list_item li:first-child{background: url('/img/m/btn-right.png') no-repeat center right; display: block; content: ""; background-size: 8px 14px; font-size: 20px; font-weight: 500; margin-top: 0; color: #333;}
    .m_sub_nav .list_item li:first-child::after{}
}

@media screen and (max-width: 213.3333vw){
    .m_flex_box{display: flex; justify-content: space-between;}
    body{font-size: 3.8889vw;}
    .mo_none{display: none;}
    .mo_block{display: block;}
    .inner{width: 86.1111vw;}
    #header_mo .inner{height: 16.1111vw;}
    #section{margin-top: 16.1111vw;}
    #header_mo img{width: 66.67%;}
    .m_sub_nav{position: fixed; top: 16.1111vw; width: 100%; background-color: #fff; z-index: 20; max-height: calc(100vh - 16.1111vw); overflow-y: scroll; display: none;}

    /* #sub .sub_page_title ul > *.mo_none{display: none;} */
    
    
    
    .subject_box > *{font-size: 8.8889vw; margin-bottom: 5.5556vw}




    .main_slider{height: 144.4444vw;}
    #main .latest_outer{padding: 22.2222vw 0;}
    #main .video_sec{padding: 22.2222vw 0;}
    #main .main_slider .swiper-pagination{top: 30.2778vw; left: 6.9444vw;}
    #main .main_slider .slide_inner{left: 6.9444vw; width: 86.1111vw;}
    #main .main_slider .slide_inner h3{font-size: 12.7778vw;word-break: keep-all;}
    #main .main_slider .slide_inner p{font-size: 3.8889vw;}
    #main .main_slider .swiper-button-white{display: none;}
    #main .news_slide_outer{max-height: 13.8889vw; padding: 0;}
    #main .news_slide_outer h3{font-size: 4.1667vw;}
    #main .news_slide_outer .news_slider{margin-left: 4.1667vw; max-height: 4.4444vw;}
    #main .news_slide_outer .news_slider .swiper-slide p{ font-size: 3.3333vw; height: 4.4444vw; text-overflow: ellipsis; overflow: hidden; max-width: 47.2222vw;}
    #main .news_slide_outer .news_slider .swiper-slide a{display: none;}
    #main .news_slide_outer .nav span img{width: 85%;}
    #main .latest_slider .swiper-slide .img_box{width: 100%;}
    #main .latest_slider .swiper-slide .slide_inner{width: 100%; margin-left: 0; font-size: 3.8889vw;}
    #main .latest_slider .swiper-slide .slide_inner h3{font-size: 5.5556vw; line-height: 7.2222vw;}
    #main .latest_slider .swiper-slide .slide_inner > div{width: 100%;}
    #main .latest_slider .swiper-slide .slide_inner p{margin: 0;}
    #main .latest_slider .swiper-button-next{top: 23vw; right: 2.7778vw; left: auto; background-image: url('/img/latest_next.png'); background-size: 7.5000vw 12.2222vw;}
    #main .latest_slider .swiper-button-prev{top: 23vw; left: 2.7778vw; background-image: url('/img/latest_prev.png'); background-size: 7.5000vw 12.2222vw;}
    #main .latest_outer ul.flex_box li:last-child{display: none;}
    #main .latest_outer ul.flex_box li{width: 49%;}
    #main .video_sec .left{width: 100%; margin-bottom: 8.3333vw;}
    #main .video_sec .right{width: 100%;}
    #main .video_sec .right .img_box{width: 100%; height: auto;display: block;}
    #main .video_sec .right > div{height: auto; width: 49%;}
    
    #sub .sub_top_bg{height: 50.0000vw;}
    #sub .top_bg_news{background-image: url('/img/m/sub_top_bg01.png');}
    #sub .top_bg_library{background-image: url('/img/m/sub_top_bg02.png');}
    #sub .top_bg_project{background-image: url('/img/m/sub_top_bg03.png');}
    #sub .top_bg_aboutUs{background-image: url('/img/m/sub_top_bg04.png');}
    #sub .top_bg_search{background-image: url('/img/m/sub_top_bg05.png');}
    #sub .sub_top_bg .text_box{width: 86.1111vw; text-align: left; top: auto;bottom: 6.9444vw; transform: translateX(-50%); display: flex; flex-direction: column-reverse;}
    #sub .sub_top_bg .text_box h2{font-size: 12.5000vw; line-height: 12.5000vw;}
    #sub .sub_top_bg .text_box p{font-size: 4.1667vw;}
    #sub .sub_page_subject{font-size: 8.8889vw; font-weight: bold;}
    #sub .sub_page_subject_sub{font-size: 4.1667vw; color: #aaa; letter-spacing: -0.2778vw;}
    #sub .sub_inner{margin-top: 0;}
    #sub .page_info_subject{border-bottom: 0.2778vw solid #ddd;padding-bottom: 5.0000vw;}
    #sub .mo_page_nav .list_{padding: 0 ;}
    #sub .mo_page_nav .list_ div{padding: 4.1667vw 6.9444vw; font-size: 5.0000vw; font-weight: bold; background: url('/img/m/btn-right.png') no-repeat 93.0556vw center; background-size: 2.2222vw 3.8889vw; border-bottom: 0.2778vw solid #333; color: #777; display: none;}
    #sub .mo_page_nav .list_ div:first-child{border-bottom: 0.2778vw solid #333; color: #333; display: block;}
    #sub .sub_page_title .list_style_tabs{margin: 5.5556vw 0;}


    #sub .list_style_02 li{width: 100%; display: block; padding: 5.5556vw 0;}
    #sub .list_style_02 li .left{width: 100%; display: block;}
    #sub .list_style_02 li .right{width: 100%; display: block;}
    #sub .list_style_02 li .right h4{font-size: 5.0000vw; margin-top: 2.7778vw;}
    #sub .list_style_02 li .right p{margin-top: 2.7778vw; font-size: 3.8889vw; line-height: 1.2em; height: 2.4em; white-space: normal; overflow: hidden; text-overflow: ellipsis; line-clamp: 2; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 100%; text-align: left; -moz-box-orient: vertical;}


    #sub .list_style_03 li{width: 49%; margin-bottom: 4%;}
    #sub .list_style_03 li:nth-of-type(odd){margin-right: 2%;}
    #sub .list_style_03 li:nth-of-type(even){margin-right: 0%;}
    #sub .list_style_03 li .img_box{border: 0.2778vw solid #ddd;}
    #sub .list_style_03 li .text_box{padding: 0; border: 0; margin-top: 4.1667vw;}
    #sub .list_style_03 li .text_box h4{font-size: 4.4444vw; line-height: 1.2em; height: 2.4em; white-space: normal; overflow: hidden; text-overflow: ellipsis; line-clamp: 2; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; width: 100%; text-align: left; -moz-box-orient: vertical;}
    #sub .list_style_03 li .text_box span{color: #aaa; font-size: 3.6111vw; letter-spacing: -0.2778vw;}


    #sub .list_style_04 .mo_block{width: 100%;}
    #sub .list_style_04 .date_line{padding: 0; margin-top: 0;}
    #sub .list_style_04 .date_line p{width: 35.0000vw; padding: 1.9444vw 0; font-size: 4.4444vw; margin-bottom: 0;text-align: center; border: 0.5556vw solid #366bac; color: #366bac;padding: 1.3889vw 0; border-radius: 6.1111vw;}
    #sub .list_style_04 .content_line{width: 100vw; background-color: #F8F8F8; margin-left: -6.9444vw; padding: 4.1667vw 6.9444vw; margin-bottom: 6.9444vw; position: relative;}
    #sub .list_style_04 .content_line::before{content: ""; width: 4.1667vw; height: 3.6111vw; background: url('/img/press_arrow_top.png') no-repeat; position: absolute; top: -3.6111vw; background-size: contain; left: 22.2222vw;}
    #sub .list_style_04 .content_line h4{font-size: 5.5556vw; line-height: 7.2222vw;}
    #sub .list_style_04 .content_line span{display: block; margin: 2.7778vw 0 4.1667vw;}
    #sub .list_style_04 .content_line p{font-size: 4.1667vw; line-height: 1.2em; height: 2.4em;}

    #sub .view_box{margin-top: 0; border-top: 0.2778vw solid #333;}
    #sub .view_box .view_title_box{border-top: 0;}
    #sub .view_box .view_inner{padding: 5.5556vw 0;}
    #sub .view_box .view_title_box h3{margin-top: 0; font-size: 6.1111vw; letter-spacing: -0.2778vw;}
    #sub .view_box .view_title_box p{font-size: 3.6111vw;}
    #sub .view_box .view_title_box p b::before{content: " ";display: block;}
    #sub .view_box .view_title_box .link_box{background-color: #fff; border-top: 0.2778vw solid #ddd;}
    #sub .view_box .paging_board li{padding: 2.7778vw 0;}
    #sub .view_box .paging_board li:last-child{border-bottom: 0.2778vw solid #333;}
    
    #sub .pro_all .img_box{width: 100vw; margin-left: -6.9444vw;}
    #sub .content_wrap.project .bus_info li{margin-top: 5.5556vw;}
    #sub .content_wrap.project .bus_info li:last-child{border-bottom: 0;}
    #sub .content_wrap.project .bus_info li p{text-align: center;}
    #sub .content_wrap.project .bus_info li p.subject{width: 100%; padding: 2.7778vw 0; text-align: center; margin-bottom: 2.7778vw;}
    #sub .content_wrap.project .bus_info li p.mo_block{display: block; text-align: center;}
    #sub .content_wrap.project .bus_info li p.mo_none{display: none;}
    #sub .content_wrap.project .bus_info li p.mo_block b{display: flex; justify-content: space-between; align-items: center;}
    #sub .content_wrap.project .bus_info li p.mo_block b > span{width: 50%; text-align: center;}
    #sub .content_wrap.project .bus_info li .after_block::after{display: block; content: " ";}
    #sub .content_wrap.project .bus_info li p:last-child{padding-left: 0; width: 100%;}
    #sub .content_wrap.project .text-right{text-align: center;letter-spacing: -0.3611vw; margin-top: 2.7778vw;}
    #sub .content_wrap.project_sub .sec_top .text_box > p{font-size: 4.1667vw; line-height: 6.1111vw; margin-top: 6.9444vw; letter-spacing: -0.2778vw;}
    #sub .content_wrap.project_sub .sec_top .text_box > p::before{content: ""; background-color: #366bac; width: 1.6667vw; height: 1.6667vw; border-radius: 100%; top: 1.9444vw;}
    #sub .content_wrap.project_sub .sec_top .text_box > p.color_blue{font-size: 3.8889vw; line-height: 5.5556vw;}
    #sub .content_wrap.project_sub .sec_top{padding-bottom: 0; border-bottom: 0;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info{margin-top: 13.8889vw;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info h3{margin-bottom: 4.1667vw; font-size: 7.2222vw;text-align: left; font-weight: bold; margin-top: 5.5556vw; word-break: keep-all; padding-right: 4.1667vw;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info .text_box p{font-size: 4.1667vw; line-height: normal;}
    #sub .content_wrap.project_sub .tabs_child .tabs_info .line_blue{padding: 1.3889vw 2.7778vw; text-align: center;}
    #sub .content_wrap.project_sub .logo_info{margin-top: 15.2778vw;}
    #sub .content_wrap.project_sub .logo_info .logo_box h4{padding: 1.3889vw 0; border-bottom: 0; font-size: 5.0000vw;}
    #sub .content_wrap.project_sub .logo_info .logo_box li{width: 49%;}
    #sub .content_wrap.project_sub .logo_info .logo_box li:nth-of-type(odd){margin-right: 2%;}
    #sub .content_wrap.project_sub .logo_info .logo_box li:nth-of-type(even){margin-right: 0;}
    #sub .content_wrap.project_sub .logo_info .logo_box li img{width: 100%;}

    #sub .content_wrap.project_sub .sec_top .img_box{width: 100%;}
    #sub .content_wrap.project_sub .sec_top .text_box{width: 100%;}
    #sub .content_wrap.project_sub .sec_bot .tabs{width: 100%;}
    #sub .content_wrap.project_sub .sec_bot .tabs .bar{width: 80%;}
    #sub .content_wrap.project_sub .sec_bot .tabs .tab_list li{font-size: 4.1667vw;}
    #sub .content_wrap.project_sub .sec_top .text_box .top_line .bar{width: 15.2778vw;}
    #sub .content_wrap.project_sub .sec_top .text_box h2{font-size: 7.2222vw; letter-spacing: -0.2778vw;}

    #sub .content_wrap.organization{text-align: center;}
    #sub .content_wrap.organization .sec_top{align-items: flex-start;}
    #sub .content_wrap.organization .sec_top .type_01, #sub .content_wrap.organization .sec_top .type_02{width: 49%; margin-right: 0;}
    #sub .content_wrap.organization .sec_top li{width: 100% !important;}
    #sub .content_wrap.organization .sec_top .type_02 ul{margin-bottom: 4.1667vw;}
    #sub .content_wrap.organization .sec_top ul li{font-size: 3.6111vw !important; padding: 1.3889vw 0.8333vw !important;}
    #sub .content_wrap.organization .sec_top ul li{}
    #sub .content_wrap.organization .sec_top ul li p{font-size: 3.6111vw !important;}
    #sub .content_wrap.organization .sec_top .type_01 li{border: 0.2778vw solid #c55a11; margin-bottom: 1.3889vw;}
    #sub .content_wrap.organization .all_line{padding: 1.9444vw 0; width: 100%;}
    #sub .content_wrap.organization .all_line p{font-size: 4.4444vw;}
    #sub .content_wrap.organization .line_70{width: 70%; margin: 4.1667vw auto;}
    #sub .content_wrap.organization .line_70 li{margin-top: 1.9444vw; border: 0.2778vw solid #366bac; padding: 0.8333vw 0;}
    #sub .content_wrap.organization .line_70 li:first-child{padding: 1.3889vw 0;}
    #sub .content_wrap.organization .sec_bot.line_70 li{padding: 0; border: 0;}
    #sub .content_wrap.organization .sec_bot::before{display: none;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul{width: 100%;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul::before{display: none;}
    #sub .content_wrap.organization .sec_bot .bot_all_box p.subject{font-size: 5.0000vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box p{font-size: 3.6111vw; line-height: normal !important;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul li:nth-child(2) .line_num{max-height: none; height: auto;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .show_item{font-size: 3.3333vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .show_item span{font-size: 3.3333vw;}
    #sub .content_wrap.organization .sec_bot .bot_all_box ul li:nth-child(2) .line_num::before{height: 2.4286vw; top: -2.5714vw;}
    .top_area{margin-top: 4.1667vw !important;}
    #sub .content_wrap.organization .sec_bot .bot_all_box .items p{font-size: 3.3333vw; border-radius: 5.5556vw; padding: 1.3889vw 0.5556vw;}

    #sub .search .top_{background-color: #fff;}
    #sub .search .top_ h2{font-size: 4.4444vw;}
    #sub .search .top_ h2 span{font-size: 5.0000vw;}
    #sub .search .search_box{width: 100%; border-bottom: 0;}
    #sub .search .search_box form{padding: 2.7778vw 5.5556vw; background-color: #f6f6f6; border-radius: 8.3333vw; font-size: 3.3333vw;}
    #sub .search .search_box input{padding: 0.8333vw 2.7778vw;}

    #footer .page_search_outer{padding: 0; border: 0; background-color: #fff;}
    #footer .page_search_outer .search_box{width: 86.1111vw; border-bottom: 0; background-color: #f5f5f5; border-radius: 8.3333vw; padding: 0 2.7778vw;}
    #footer .page_search_outer .search_box form{padding: 1.9444vw 0;}
    #footer .page_search_outer .search_box button{width: 4.1667vw;}
    #footer .page_search_outer .search_box button img{width: 100%;}
    #footer .f_logo_outer .inner{display: flex; justify-content: space-between;}
    #footer .f_logo_outer .inner .logo_box{width: 30%; text-align: center; margin-right: 0;}
    #footer .f_logo_outer .inner .logo_box p{letter-spacing: -0.2778vw; margin-bottom: 2.7778vw;}
    #footer .f_logo_outer .inner .logo_box img{width: 100%;}
    #footer .f_info_all{padding: 8.3333vw 0; background-color: #333; color: #888;font-size: 3.0556vw;}
    #footer .f_info_all .f_logo{width: 50.0000vw;margin-bottom: 4.1667vw;}
    #footer .f_info_all .f_logo img{width: 100%;}
    #footer .f_info_all a{color: #cccccc; font-weight: bold; display: inline-block; margin-right: 4.1667vw;}
    #footer .f_info_all .f_info_inner p:first-child{margin: 4.1667vw 0;}
}